# Performing T-Test On Walmart Dataset

## Problem Statement : 
### 1). For Given Walmart Store Sales Data using different types of T-TEST'S find out the statistical evidence for questions  asked from management

In [330]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [331]:
# Loading the dataset
df=pd.read_csv('Walmart DataSet.csv')

In [332]:
df.head()# first look at the dataset

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

## _________________________________________________________________

# One Sample T-test
- **It is Used to Compare the mean is greater or smaller than the popmean**

## Questions  :
## Find out  the average sales of store 5 are above the industry average sales or not?

### Assumption for T-TEST
- **1). Sample Size Less than or equal to 30**
- **2). Assuming the data is normally distributed**
- **3). Homeginity in the sample groups**

### 1st Step Taking the Sample from the Population

In [333]:
store_20_sale = df[df['Store']==5]['Weekly_Sales'] # Taking the sales data of store 5

In [335]:
# finding the average of industry sales average which is nothing but all 45 store sales average data
industry_average = df['Weekly_Sales'].mean() 
industry_average

1046964.8775617715

In [336]:
# Importing ttest1 sampele
from scipy.stats import ttest_1samp

## 2nd Step
## Formulating Hypothesis
### 1). NULL HYPOTHESIS : The Average Sale of store 5 is greater than Industry average Sales.
### 2). Alternate HYPOTHESIS : The Average Sale of store 5 is lesser than Industry average Sales.

## 3rd Step
### Statistical Test

In [337]:
# Performing ttest1samp
t_statistic, p_value = ttest_1samp(store_20_sale,industry_average)
print('got p_value as :',p_value)

got p_value as : 8.442393587141942e-185

## 4th Step
### Accpect or Reject Null Hypothesis

In [338]:
if p_value > 0.05:
    print("Accpect the Null Hypothesis. the average sales of store 5 is Greater than the Industry average sales")
else:
    print("Reject the Null Hypothesis. the average sales of store 5 is Lesser than the Industry average sales")

Reject the Null Hypothesis. the average sales of store 5 is Lesser than the Industry average sales

# Answer : 
### The Sales performance of store 5 is lower than the industry performance

## _________________________________________________________________
# Two Sample T-Test
- **It is Used to do Competative analysis between the two samples which are taken from the differenct population.**

# Question:
### Which store is performing well in sales and is there a significant difference in sales between stores 20 and 5

### 1st Step Taking the Sample from the Population

In [365]:
store_5 = df[df['Store']==5]['Weekly_Sales'] # taking the sales data of store 5 
store_20 = df[df['Store']==20]['Weekly_Sales'] # taking the sales data of store 20

In [366]:
sample_store_5=np.random.choice(store_5,size=29,replace=False) # Taking the sample data from the population for store 5

In [367]:
sample_store_20=np.random.choice(store_20,size=29,replace=False) # Taking the sample data from the population for store 20

## 2nd Step
## Formulating Hypothesis
### 1). NULL HYPOTHESIS : The store 5 has high sales than store 20
### 2). Alternate HYPOTHESIS : The store 20 has more sales than store 5

## 3rd Step
### Statistical Test

In [368]:
from scipy.stats import ttest_ind
t_statistic,p_value = ttest_ind(sample_store_5,sample_store_20)
print('Got the P-Value as : ', p_value)

Got the P-Value as :  5.998880784814485e-59

## 4th Step
### Accpect or Reject Null Hypothesis

In [369]:
if p_value>0.05:
    print('Accpect the Null Hypothesis that the store 5 has high sales than store 36')
else:
    print('Reject the Null Hypothesis that the store 20 has more sales than store 5')

Reject the Null Hypothesis that the store 20 has more sales than store 5

# Answer : 
### we got the P-Value is Below 0.05. so the sales performance of store 20 is Better than the store 5 performance

## _________________________________________________________________
# Paired Sample T-Test
- **It is Used to finding the Difference between two sample groups in different conditions, Ex: Before covid Stock Market performance and after covid performance of stock market.**

# Qustion : 
### Is there a significance difference between the first six months sales and last six month Sales. find out the statistical evidence with the help of Paired Sample T-Test

## Data Preprocessing for Statistical Test

In [370]:
# Grouping the Date Column
df_stores_date = df.groupby('Date')['Weekly_Sales'].sum().reset_index()

In [371]:
df_stores_date # Looking at the data

           Date  Weekly_Sales
0    01-04-2011   43458991.19
1    01-06-2012   48281649.72
2    01-07-2011   47578519.50
3    01-10-2010   42239875.87
4    02-03-2012   46861034.97
..          ...           ...
138  30-07-2010   44630363.42
139  30-09-2011   42195830.81
140  30-12-2011   46042461.04
141  31-08-2012   47159639.43
142  31-12-2010   40432519.00

[143 rows x 2 columns]

In [372]:
# Changing the data type of Date column to Date time type
df_stores_date['Date']=pd.to_datetime(df_stores_date['Date'])

C:\Users\UDAY\AppData\Local\Temp\ipykernel_6248\3443113469.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_stores_date['Date']=pd.to_datetime(df_stores_date['Date'])

In [373]:
df_stores_date.info() # Checking the dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          143 non-null    datetime64[ns]
 1   Weekly_Sales  143 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.4 KB

In [374]:
df_stores_date['Date'].max()  # Checking the Upper band of time frame

Timestamp('2012-12-10 00:00:00')

In [375]:
df_stores_date['Date'].min() # Checking the lower band of time frame

Timestamp('2010-01-10 00:00:00')

In [376]:
strat_date ='2010-01-10'  # Creating a variable that consist of strat date
end_date = '2010-06-10' # Creating a variable that consist of end date
# Extracting the first 6 months sales
first_6_months_sales = df_stores_date[(df_stores_date['Date']>strat_date)& (df_stores_date['Date']<end_date)]

In [377]:
strat_date ='2010-06-10' # Creating a variable that consist of strat date
end_date = '2010-11-01' # Creating a variable that consist of end date
# Extracting the last 6 months sales
Last_6_months_sales = df_stores_date[(df_stores_date['Date']>strat_date)& (df_stores_date['Date']<end_date)]

### 1st Step Taking the Sample from the Population

In [378]:
sample_first_half_year = np.random.choice(first_6_months_sales['Weekly_Sales'],size=29,replace=True)

In [379]:
sample_second_half_year = np.random.choice(Last_6_months_sales['Weekly_Sales'],size=29,replace=True)

## 2nd Step
## Formulating Hypothesis
### 1). NULL HYPOTHESIS : There is a Difference in Sales between first six months and last six months
### 2). Alternate HYPOTHESIS : There is no significance difference between both

## 3rd Step
### Statistical Test

In [380]:
from scipy.stats import ttest_rel
t_statistic,p_value=ttest_rel(sample_first_half_year,sample_second_half_year)
print('Got the P-Value as : ', p_value)

Got the P-Value as :  0.6538558967459448

## 4th Step
### Accpect or Reject Null Hypothesis

In [381]:
if p_value>0.05:
    print('Accpect the Null Hypothesis..There is a difference between first six month sales and last Six month sales')
else:
    print('Failed to Accpect the Null Hypothesis, There is no difference')

Accpect the Null Hypothesis..There is a difference between first six month sales and last Six month sales

# Answer:
#### we got the p-value above 0.05. so There is a difference between first six month sales and last Six month sales

# Thank You!